export GOPATH="$HOME/.go"
export GOPRIVATE="gitlab.gitlab-challenge.fathom5.us/*,*.fathom5.work/*,github.com/fathom5/*,github.com/FATHOM5/*"
export PATH="$PATH:$(go env GOPATH)/bin"
export GOEXPERIMENT=boringcrypto
